@use "/src/scss/fonts/Roboto";

.item {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  gap: 12px;
}

.title {
  @include Roboto.setFont(16px, 400);
  color: rgb(45, 45, 45);
  text-align: center;
}