.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
}