@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto.ttf');
  font-display: swap;
}

@mixin setFont($size: 12px, $weight: 400) {
  font-family: 'Roboto', sans-serif;
  font-weight: $weight;
  font-size: $size;
}