@use "/src/scss/fonts/Roboto";

.block {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.header {
  text-align: center;
  color: crimson;
  @include Roboto.setFont(32px, 700)
}

.totalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.totalValue {
  @include Roboto.setFont(16px, 700);
  color: crimson;
}